.recipe {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #ecf0f1;
  justify-content: space-between;
  margin-bottom: 25px;
  background: #fff;
  align-items: center;
  width: 30%;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.recipe:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.image {
  border-radius: 25%;
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
}

@media (max-width: 1420px) {
  .recipe {
    width: 46%;
  }
}
@media (max-width: 1100px) {
  .recipe {
    width: 43%;
  }
}
@media (max-width: 900px) {
  .recipe {
    width: 90%;
  }
}

